beautifulsoup4
fastapi
html5lib
jinja2
langchain
langchain_core
langchain-google-genai
langchain-groq
lxml
python-dotenv
python-multipart
uvicorn
structlog
langgraph
ragas
langchain-mcp-adapters
mcp
ddgs
langchain-openai
faiss-cpu
langchain-community
langchain-huggingface
sentence-transformers
langchain-chroma
langchain-google-vertexai
langchain-classic

fastapi 
uvicorn 
sqlalchemy 
jinja2 
python-multipart 
passlib[bcrypt] 
bcrypt==4.0.1
python-jose[cryptography]
pydantic[email]