<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
</head>

<body>

<h2>Register</h2>

<form id="registerForm">

    <label>Email</label><br>
    <input type="email" id="email" required><br><br>

    <label>Username</label><br>
    <input type="text" id="username" required><br><br>

    <label>Password</label><br>
    <input type="password" id="password" required><br><br>

    <button type="submit">
        Register
    </button>

</form>

<p id="message"></p>

<p>
    <a href="/auth/login">Already have an account? Login</a>
</p>

<script>

    document.getElementById("registerForm").addEventListener("submit", async function(e){

        e.preventDefault();

        const response = await fetch("/auth/",{
            method:"POST",
            headers:{
                "Content-Type":"application/json"
            },
            body:JSON.stringify({
                email:document.getElementById("email").value,
                username:document.getElementById("username").value,
                password:document.getElementById("password").value
            })
        });

        const data = await response.json();

        if(response.ok){
            alert("Registration Successful");
            window.location.href="/auth/login";
        }
        else{
            document.getElementById("message").innerText=data.detail;
        }

    });

</script>

</body>

</html>